{% extends 'base.html' %}
{% block content %}
<h2>Resources</h2>
<p>Organizations which help with expungements</p>
<ul class="list-unstyled">
<li>Legal Aid Foundation of Los Angeles: http://lafla.org/</li>
<li>Friends Outside	http://www.friendsoutsidela.org/</li>
<li>A New Way of Life	http://www.anewwayoflife.org/</li>
<li>Peperdine Legal Aid Clinic http://urm.pub30.convio.net/services/clinics/pepperdine-university-legal.html</li>
<li>Neighborhood Legal Services Los Angeles County	http://www.nlsla.org/</li>
</ul>
{% endblock %}