{% extends 'base.html' %}
{% block content %}
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <h1>About Us</h1>
      <p>Expunge.LA was created at the Hack For LA 2015 Event hosted at the LA DWP building in conjunction with the National Day of Civic Hacking</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h1>Stay updated</h1>
      <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <blockquote>
        <p>One in five California criminals could get a break under proposed new sentencing laws before voters this fall, but the measure is unlikely to produce big benefits for schools and communities, as its name suggests.</p>
      </blockquote>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <img src="/static/site/images/profile/lahackathon.jpeg" class="img-responsive">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h1>Us hacking away #HackLA2015</h1>
      <p>At L.A. 'hackathon,' civic-minded coders aim to put city data to good use</p>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4" class="text-center">
      <h2>Ken Ajla</h2>
      <img src="/static/site/images/profile/KenMontenegro.png" class="img-circle" width="140" height="140" >
      <p>Ken assisted with content and concept ideas and provided policy information to the group. He is the Information Technology Director at Advancing Justice Los Angeles a non-profit legal advocacy organization based in Downtown Los Angeles. He is on the Executive Committee of the Los Angeles National Lawyers Guild chapter and a board member of NTEN (Nonprofit Technology Network.  In off-hours, he can be found with a glass of red wine.  He is a published and translated poet.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h2>Matt Chung</h2>
      <img src="/static/site/images/profile/MattChung.png" class="img-circle" width="140" height="140">
      <p>Matt Chung assisted with full stack development.  He currently works for Fox Networks based out of Los Angeles CA as a Director of DevOps (Development Operations).  He is the founder and organizer of OC DevOps. He will be travelling between London and CA for the next year with his fiance.  A cross-country road trip is planned for this summer.  He has a dog named Metric and enjoys programming, meditating, reading and philosophy.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h2>Matt Davis</h2>
      <img src="/static/site/images/profile/MattDavis.png" class="img-circle" width="140" height="140">
      <p>Matt Davis helped with the backend.  He works for Whalerock Industries out in Santa Monica doing much of the very the same thing.  Matt Davis hasn’t committed any minor, non-violent crimes, but it’s good to know he’ll have a way to expunge them in the future should it ever come up.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h2>Andrew Kurinnyi</h2>
      <img src="/static/site/images/profile/AndrewKurinnyi.png" width="140" height="140" class="img-circle">
      <p>Andrew Kurinnyi assisted with full stack development.  He currently works at Whalerock as a DevOps Engineer with his roots in software development.  He is from Ukraine and now based out of Hollywood.  In off ours he enjoys programming, hiking, exercising and Tai Chi</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h2>Tim Phan</h2>
      <img src="/static/site/images/profile/TimPhan.png" width="140" height="140" class="img-circle">
      <p>Tim Phan assisted with data scraping. He currently a data organizer at Nationbuilder.  He studied policy/development economics at UCSB and Moterey Institute.  He's currently based out of Los Angeles.
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h2>Alanna Lin Ramage</h2>
      <img src="/static/site/images/profile/AlannaRamage.png" width="140" height="140" class="img-circle">
      <p>Alanna helped with this projects copy and UX.  She was the project’s hypothetical non-violent, cheap horse thief / test user.  By day, she’s a creative business development and user engagement specialist at Emarketed, a web design / dev and marketing agency based in Eagle Rock, CA.  By night, she is the lead singer / songwriter of FASCINOMA.  </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h2>Matt Ramage</h2>
      <img src="/static/site/images/profile/MattRamage.png" width="140" height="140" class="img-circle">
      <p>Matt Ramage worked on the UX for this project. When he’s not participating in Hackathons Matt runs a small 9-person web design/dev marketing agency in Eagle Rock called Emarketed. Matt is a native Angeleno who enjoys running and gardening when he’s not at his computer.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h2>Sam Yu</h2>
      <img src="/static/site/images/profile/SamYu.png" width="140" height="140" class="img-circle">
      <p>Sam helped with content and concept. He innovates and designs outreach programs to minority communities in their native language on social media for several California local police departments. He utilizes his experience and knowledge of culture / language to help immigrant communities.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h2>Harry Brisson</h2>
      <img src="/static/site/images/profile/HarryBrisson.png" width="140" height="140" class="img-circle">
      <p>Harry assisted with general concept and mapping the overall experience flow.  He works for Nielsen in their Hollywood office where he helps studios and networks develop strategies to create, distribute and monetize great video content.  As a social scientist, he enjoys using data to solve real-world problems and better understand why people do some of the crazy things that they do.</p>
    </div>
  </div>
{% endblock %}

