{% extends 'base.html' %}
{% block content %}
<h2>FAQ</h2>
<ul class="list-unstyled">
<li>
	<h4>Why is this site important?</h4>
This site is important because the state-wide legal aid referral site, CA Law Help http://lawhelpca.org/issues/expungement-and-record-clearing/criminal-record-clearing, does not provide resources specific to Los Angeles County. Therefore, this site aims to fill that void.
</li>

<li>
<h4>What are the benefits of Prop 47?</h4>
For individuals who visit this site, they will be able to initiate the reclassification process which makes eligible felony convictions misdemeanors. When a felony becomes a misdemeanor, an individual has a greater likelihood of staying out of jail and re-integrating into his/her community. Additionally, Prop 47 shifts monies that would have been spent on incarceration to health services & education.
</li>

<li>
<h4>Why expunge.la?</h4>
Expunge.la guides individuals through the reclassification process as a first step in expungement of criminal records. Additionally, expunge.la provides resources for invididuals who may want to seek expungement whether or not they are eligible for Prop 47.
</li>

<li>
<h4>Is any of this legal advice?</h4>
Through this web site deals with very specific legal issues, it deals with them in a model of community education and general responses. Individuals who have questions specific to their circumstances are strongly encouraged to consult an attorney.
</li>

<li>
<h4>Who is responsible for this site?</h4>
This site came together during the National Day of Civic Hacking 2015. 
</li>
<li>
What tools and or platforms were used to develop this site?
The team used the following tools:
<ul class="list-unstyled">
<li>Slack</li>
<li>Heroku</li>
<li>Namecheap</li>
<li>VirtualEnv</li>

</ul>
</li>
</ul>
{% endblock %}
