{% extends 'base.html' %}
{% block content %}
{% load site_tags %}
<h2>Finalize</h2>
<p class="checklist-information">Upload and send documents:</p>
<div class="row">
    <div class="text-center">
        <div class="col-md-offset-3 col-md-6">
            <ul class="list-unstyled document-list">
                <li class="document-list-item">
                    Criminal Records
                    <div class="fileUpload btn">
                        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
                        <input type="file" class="upload" />
                        {{form.criminal_records|add_css:"upload"}}
                    </div>
                </li>
                <li class="document-list-item">
                    Live Scan Document
                    <div class="fileUpload btn">
                        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
                        {{form.live_scan_docs|add_css:"upload"}}
                    </div>
                </li>
                <li class="document-list-item">
                    Reclassification Form
                    <div class="fileUpload btn">
                        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
                        {{form.reclassification|add_css:"upload"}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="text-center">
        <div class="col-md-offset-3 col-md-6">
            <form class="form-horizontal">
                <div class="form-group">
                <label class=" checklist control-label col-sm-3">name:</label>
                <div class="col-sm-9">
                	{{form.name|add_css:"form-control"}}
                </div>
                </div>
                <div class="form-group">
                    <label class="checklist control-label col-sm-3">email:</label>
                    <div class="col-sm-9">
                    	{{form.email|add_css:"form-control"}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="checklist control-label col-sm-3">courthouse:</label>
                    <div class="col-sm-9">
                      {{form.choices|add_css:"form-control"}}
                    </div>
                </div>
              <input type="submit" class="btn btn-primary" value="Send Paperwork">
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        
    });
</script>
{% endblock %}