{% extends 'base.html' %}
{% block content %}
{% load site_tags %}
<div class="text-center">
    <div class="row">
        <p class="location-info">
            You will need to get your records from one of the below court houses and also visit a Live Scan center for finger prints.
        </p>
    </div>
    <p id="courthouses-heading">Courthouses near you</p>
    <div class="row">
        <div class="col-md-9">
            
            <ul class="list-unstyled" id="courthouses-locations">
            </ul>
        </div>
        <div class="col-md-3">
            <div class="reminder">
                <h4>Send me an email reminder</h4>
                <form class="form" action="{% url 'email-reminder' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{form.name|add_css:"form-control"}}
                    </div>
                    <div class="form-group">
                        {{form.email|add_css:"form-control"}}
                    </div>
                    <input type="submit" value="send" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        
        <p id="live-scan-heading">Live Scan Centers </p>
        <table class="table-striped live-scan-table">
            <tbody id="live-scan-locations">
            </tbody>
        </table>
        
    </div>
    <div class="row">
        <div class="col-md-offset-8 col-md-4">
            <div class="disclaimer">
                <h4>Disclaimer</h4>
                <p>None of the content or output of this web site should be construed as legal advice. Every individual's circumstances are unique so we strongly encourage individuals with uncertainty or questions to seek legal counsel.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script type="text/template" id="live-scan-template">
<tr>
    <td><a href="<%-website%>"><%-name%></a></td>
    <td><%-address1%><br><%-address2%></td>
    <td><%-phone_number%></td>
    <td>view in <a href="<%-url%>">google maps<a/></td>
</tr>
</script>

<script type="text/template" id="courthouse-template">
<li>
<h4><a href="<%-website%>"><%-name%></a></h4>
<p><%-address1%></p>
<p><%-address2%></p>
<p><%-phone_number%></p>
<p>view in <a href="<%-url%>">google maps<a/></p>
</li>
</script>

<script type="text/javascript">
    $(document).ready(function(){
        function split_address(data_blob){
            var line_1 = data_blob.address.split(',')[0];
            var line_2 = data_blob.address.replace(line_1+",", "");
            $.extend(data_blob, {'address1':line_1, 'address2':line_2});
            console.log(data_blob);
            return data_blob;
        }


        var live_scan_template = _.template($("#live-scan-template").html());
        var courhouse_template = _.template($("#courthouse-template").html());
        $.get("/locations/courthouses/?zip_code=={{zip_code}}&count=3")
         .done(function(response){
                _.each(response.courthouses, function(courthouse){
                    var format_courthouses = split_address(courthouse);
                    $("#courthouses-locations").append(courhouse_template(format_courthouses));
                });
            })
         .error(function(){
             $("#courthouses-locations").before($('<p/>').text("There was an error retrieving courthouse information.  Please refresh"));
         });

        $.get("/locations/livescans/?zip_code={{zip_code}}")
         .done(function(response){
                _.each(response.live_scans, function(live_scan){
                    var format_live_scan = split_address(live_scan);
                    $("#live-scan-locations").append(live_scan_template(format_live_scan));
                });
            })
         .error(function(){
             $("#live-scan-locations").before($('<p/>').text("There was an error retrieving live scan information.  Please refresh"))
         });
    })
</script>
{% endblock %}