{% extends 'base.html' %}
{% block content %}
{% load site_tags %}
{% if step == '1' %}
  <div>
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12">
          <h3>I have a conviction for one of the following</h3>
          <ul class="text-left list-unstyled">
            <li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span><span> Simple drug posession</span></li>
            <li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Petty theft, including commenercial burglary $950 or less</li>
            <li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Shoplifting $950 or less</li>
            <li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Forging/writing a bad check $950 or less</li>
            <li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Receipt of stolen property $950 or less</li>
          </ul>
          <br />
            <a href="/resources/"><button type="button" class="btn btn-danger btn-lg">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> No
            </button></a>
            <a href="/step/2"><button type="button" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Yes
            </button></a>
        </div>
      </div>
  </div>
{% endif %}
{% if step == '2' %}
  <div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12">
          <h3>I do <strong>DO NOT</strong> have a conviction for one of the following</h3>
          <ul class="text-left list-unstyled" >
            <li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Prior conviction for rape, child molestation or other violent crimes</li>
            <li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Sex offender registrant</li>
            <li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Identity theft</li>
            <li><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Currenting serving a sentence or on probation*</li>
          </ul>
          <br />
          <a href="/resources/"><button type="button" class="btn btn-danger btn-lg">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> No
          </button></a>
          <a href="/step/3"><button type="button" class="btn btn-success btn-lg">
              <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Yes
          </button></a>
        </div>
      </div>
  </div>

{% endif %}
{% if step == '3' %}
  <div class="jumbotron">
    <h1>Search</h1>
    <p>We will locate court houses and live scan centers around you</p>
  </div>
  <form method="POST" action="/step/3">
    {% csrf_token %}
    {{ form.zip_code|add_css:"half-width"}}
    <input type="submit" class="btn btn-primary" value="Search">
  </form>
{% endif %}
{% endblock %}
